
body{
    background-color: rgb(238, 238, 238);
    line-height: 1.7;
    height: 100vh;
    width: 100vw; 
    box-sizing: border-box;
}

.container{
    font-family: 'Montserrat', sans-serif;
}



.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 15px 2px rgba(52,40,104,.08);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid #e5e9f2;

    background-color: white;
    border-radius: 0.5rem;
    /* width: 30rem; */
}

#btn{

    background-color: #1560BD;
    padding: 0.8rem 3rem;
    outline: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius:5px;
    cursor: pointer;
}

#retourPage{
    padding: 1.2REM 0;
    color: #09567A;
    margin-top: 50px;
}

/* Style Message Erreur */
#error{
    text-align: center;
    margin-bottom: -1rem;
    background-color: rgba(241,37,74,.8);
    border-radius: 15px;
    padding: 0.5rem 0;
    font-size: 1rem;
}
